/* merriweather-300 - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-300italic - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-italic - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-900 - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700italic - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-900italic - latin-ext_cyrillic_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/merriweather/merriweather-v19-latin-ext_cyrillic_cyrillic-ext_latin_vietnamese-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
