body {
  font-family: Merriweather, serif;
}
h2 a:not(:hover) {
    text-decoration: none;
}
a:hover {
    text-decoration-color: $primary-color;
}
a {
    color: $primary-color;
}
video {
    max-width: 100%;
}
figure {
    justify-content: center;

    img {
        width: auto;
    }

    figcaption {
        width: 100%;
        text-align: center;
    }
}
.page__content {
  line-height: 1.9em;

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.25em;
  }
}

/**
 * Override grid view to display larger items
 * (For projects page)
 */
.grid__item {
  margin-bottom: 2em;
  border-radius: 0.25em;

  .grid-item-project-text {
    padding: 1em;
    background-color: #eee;
  }

  @include breakpoint($small) {
    float: left;
    width: span(10 of 10);
    clear: both;
    margin-left: 0;

    &:nth-child(2n+2) {
      clear: both;
      margin-left: 0;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(6 of 12);

    & {
      clear: none;
    }

    &:nth-child(2n + 1) {
      clear: both;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 3) {
      margin-left: 0;
    }
  }

  @include breakpoint($x-large) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(4 of 12);

    & {
      clear: none;
    }

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: 0;
    }

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n + 2) {
      margin-left: gutter(1 of 12);
    }

    &:nth-child(3n + 3) {
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 200px;
    }
  }
}
